[submodule "repos/sdc.broadband"]
	path = data/sdc.broadband
	url = https://github.com/uva-bi-sdad/sdc.broadband
[submodule "repos/sdc.housing"]
	path = data/sdc.housing
	url = https://github.com/uva-bi-sdad/sdc.housing
[submodule "repos/sdc.financial_well_being"]
	path = data/sdc.financial_well_being
	url = https://github.com/uva-bi-sdad/sdc.financial_well_being
[submodule "repos/sdc.demographics"]
	path = data/sdc.demographics
	url = https://github.com/uva-bi-sdad/sdc.demographics
[submodule "repos/sdc.education"]
	path = data/sdc.education
	url = https://github.com/uva-bi-sdad/sdc.education
[submodule "repos/sdc.transportation"]
	path = data/sdc.transportation
	url = https://github.com/uva-bi-sdad/sdc.transportation
[submodule "repos/sdc.food"]
	path = data/sdc.food
	url = https://github.com/uva-bi-sdad/sdc.food
[submodule "repos/sdc.geographies"]
	path = data/sdc.geographies
	url = https://github.com/uva-bi-sdad/sdc.geographies
[submodule "repos/sdc.health"]
	path = data/sdc.health
	url = https://github.com/uva-bi-sdad/sdc.health
[submodule "repos/sdc.business_climate"]
	path = data/sdc.business_climate
	url = https://github.com/uva-bi-sdad/sdc.business_climate.git
[submodule "code/sdc.tests"]
	path = code/sdc.tests
	url = git@github.com:uva-bi-sdad/sdc.tests.git
